<div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
  <div>
    <%= image_tag("https://source.unsplash.com/random/350x350", class: "w-full object-cover object-center rounded-lg shadow-md")%>
    <div class="relative px-4 -mt-16">
      
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <div class="flex items-baseline">
          <% if bid.product.is_active %>
            <span class="bg-teal-200 text-teal-800 text-xs px-2 inline-block rounded-full  uppercase font-semibold tracking-wide">
              Open
            </span>
          <% else %>
            <span class="bg-red-200 text-red-800 text-xs px-2 inline-block rounded-full  uppercase font-semibold tracking-wide">
              Closed
            </span>
          <% end %>
          <div class="ml-2 text-gray-600 uppercase text-xs font-semibold tracking-wider">
            Closing on  &bull; <%= bid.product.bidding_expiration.strftime("%B %d %Y %H:%M")%>
          </div>
        </div>
        <h4 class="mt-1 text-xl font-semibold uppercase leading-tight truncate"><%= link_to bid.product.name, product_path(bid.product) %></h4>
        <div class="mt-4">
          <div class="mt-1"><span class="text-gray-500 text-sm" >Lowest Allowable Bid:</span> $<%= bid.product.lowest_bid %></div>
          <div class="mt-1"><span class="text-gray-500 text-sm" >Starting Bidding Price:</span> $<%= bid.product.starting_bid %></div>
          <div class="mt-1 text-gray-900 text-2xl"><span class="text-gray-500 text-sm" >Your Offer:</span> $<%= bid.bid_offer_amount %></div>          
        </div>  
         <div class="mt-4">
          <%= link_to "Update Offer", edit_product_bid_path(bid.product, bid), class:"bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded"%>
        </div>
      </div>
    </div>
  </div>
</div>