<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= render "shared/navbar" unless current_page?(dashboard_path) || current_page?(dashboard_products_path) || current_page?(dashboard_users_path)  %>
      <%= render "layouts/notifications"%>
    </header>
    <main class="container my-12 mx-auto px-4 md:px-12">
      <%= yield %>
    </main>
  </body>
</html>
